<header>
    <div class="container">
        <ul>
            <li><a href="/"> Record times </a></li>
            <li><a href="/subjects"> Edit subjects </a></li>
            <li><a href="/times"> Total times </a></li>
        </ul>
    </div>
</header>