<header>
    <nav>
        <a href="/"> Time recording </a>
        <ul>
            <li><a href="/"> Record times </a></li>
            <li><a href="/subjects"> Create Subjects </a></li>
            <li><a href="/stats"> Stats </a></li>
        </ul>
    </nav>
</header>