
<% if (locals.subject != null) { %>
    
    <div>
        <h2 id="subject" > <%= subject.title %> </h2>
        <label id="hours">
            <%= subject.hours %> hours
        </label>
        <label id="minutes">
            <%= subject.minutes %> minutes
        </label>
        <label id="seconds">
            <%= subject.seconds %> seconds
        </label>
    </div>
    


    <br>

<%}%>




